header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #a18aba;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}


header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  font-family: "Roboto Condensed", sans-serif;
}